{% load static %}


    <div class="d-lg-none p-3">
        <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#miModal" data-form="cotizacion" >Busca Cotización</button>
    </div>

    <hr class="d-lg-none " >
<form method="POST" action="{% url 'guardar_cotizacion' %}" id="form_cotizacion">
{% csrf_token %}
<div class="d-flex justify-content-between ">


    <div class="p-3">
        <p class=" fs-4 fw-semibold ">Empresa</p>
        <div class="pb-3">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalEncabezado" data-table="empresa">Elige una Empresa</button>
        </div>
      
        <div class="d-flex datos-empresa-movil">
            <div class="">
                <img id="empresa_logo" src="" alt="Logo empresa" style="max-width:150px; display:none;">
            </div>
            <div class="p-3">
                <input type="hidden" name="empresa_id" id="empresa_id">
                <p class="p-formato fs-5 fw-medium" id="empresa_nombre"></p>
                <p class="p-formato  text-black-50" id="empresa_dueño"></p>
                <p class="p-formato  text-black-50"id="empresa_direccion"></p>
                
            </div>
        </div>
       
    </div>

    <div class=" informacion-cotizacion-movil pt-3 pe-5">
        <p class="p-formato fs-5 fw-medium" >Información de Cotización</p>
        <p class="p-formato text-black-50" >Número de cotización: {{numero_front}}</p>
        <input type="hidden" id="n_cotizacion" name="numero_cotizacion">
        <p class="p-formato text-black-50" id="fecha_actual"></p>
        <p class="p-formato text-black-50" id="fecha_caducidad"></p>
        <input type="hidden" id="fecha_input" name="fecha">
        <input type="hidden" id="fecha_caducidad_input" name="fecha_caducidad">
    </div>
    
    
</div>

    <hr class="d-lg-none " >
<div class="ps-3">
     
            <p class="fs-4 fw-semibold ">Información del Cliente</p>

        <div class="pb-3">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalEncabezado" data-table="cliente"> Elige un Cliente </button>
        </div>

    <div class="pb-3  gap-5">
      
        <div class="d-flex gap-5">
            <div class="">
                <input type="hidden" name="cliente_id" id="cliente_id">
                <p class="p-formato text-black-50 " id="cliente_nombre"> </p>
                <p class="p-formato text-black-50 " id="cliente_direccion"> </p>
            </div>
            <div class="">
                <p class="p-formato text-black-50 " id="cliente_numero"> </p>    
                <p class="p-formato text-black-50 "id="cliente_correo"> </p> 
            </div>
        </div>
        
        
    </div>
    
</div>
<hr class="d-lg-none " >
<p class="fs-4 fw-semibold p-formato ps-3">Detalles Cotización</p>

<div class="ps-3 pt-2">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalEncabezado" data-table="items">Agregar producto o servicio</button>
</div>

<div class="m-3 " style="max-height:220px; overflow-y:auto;"> <!--se debe fijar una altura para poder colocar el fokins scroll-->
        <table class="table table-borderless " id="tabla_detalle" >
    <thead>
        <tr>
        <th scope="col">Cantidad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Código</th>
        <th scope="col">Precio</th>
        <th scope="col">Subtotal</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>


<div class="d-flex justify-content-between">
    <div class="ps-3">
        <p class="p-formato fs-5 fw-medium">Quién emite </p>
        <input type="hidden" name="agente_id" id="agente_id">
        <p class="p-formato text-black-50" id="agente_nombre"></p>
        <p class="p-formato text-black-50" id="agente_telefono"></p>
        <p class="p-formato text-black-50"id="agente_empresa"></p>
        <div class=" pt-2 boton-agente-movil">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalEncabezado" data-table="agentes">Agrega Agente</button>
        </div>
    </div>

    <div class="pe-5 sumatoria-movil">
        <p class="p-formato fs-5 fw-medium texto-sumatoria" class="m-0 ">Sumatoria</p>
        <p class="p-formato fw-medium text-end"id="subtotal-general">Subtotal</p>
        <p class="p-formato fw-medium text-end" id ="iva">IVA</p>
        <hr class="p-formato fw-medium ">
        <p class="p-formato fw-medium text-end" id="total">Total</p>

        <input type="hidden" name="input_iva" id="input_iva">
        <input type="hidden" name="input_subtotal_general" id="input_subtotal_general">
        <input type="hidden" name="input_total" id="input_total">

        <div class="py-2 butones-movil">
            
            <button type="button" class="btn btn-dark me-5 boton-limpiar" onclick="limpiarForm()">Limpiar </button> 
            <button type="submit" class="btn btn-dark">Guardar</button>  
        </div>
    </div>
   
</div>
 </form>

<div>

</div>

<!---Modal-->
<div class="modal fade" id="modalEncabezado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content " >
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEncabezadoTitulo">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalEncabezadoContenido">
        ...
      </div>
      
    </div>
  </div>
</div>

<!--Tablas-->

<div id="tabla_empresa_encabezado" style="display:none;">
    <div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo Empresa</th>
            <th scope="col">Dueño</th>
            <th scope="col">Dirección</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
            <tr class="fila-empresa"
                data-id="{{ empresa.id}}"
                data-nombre="{{ empresa.nombre}}"
                data-tipo="{{ empresa.tipo }}"
                data-dueño="{{ empresa.dueño }}"
                data-direccion="{{ empresa.direccion }}"
                data-logo="{{ empresa.logo.url }}">
            <th scope="row" >{{ forloop.counter }}</th>
            <td>
                <!---mostrar el logo de la empresa-->
                {% if empresa.logo %}
                    <img src="{{ empresa.logo.url }}" alt="{{ empresa.nombre }}" style="max-width: 50px; height: auto;">
                {% else %}
                    <span>Sin logo</span>
                {% endif %}
            </td>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.tipo }}</td>
            <td>{{ empresa.dueño }}</td>
            <td>{{ empresa.direccion }}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    </div>
</div>

<div id="tabla_cliente_encabezado" style="display:none;">
    <div class="table-responsive">
    <table class="table table-hover" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr
                class="fila-cliente"
                data-id="{{ cliente.id}}"
                data-nombre="{{ cliente.nombre}}"
                data-apellido="{{ cliente.apellido}}"
                data-direccion="{{ cliente.direccion}}"
                data-telefono="{{ cliente.telefono}}"
                data-correo="{{ cliente.correo}}"
                >
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correo }}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    </div>
</div>




<div id="tabla_items_encabezado" class="table-borderless" style="display:none;">
    <div class="table-responsive">
    <table class="table table-hover " >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for i in items %}
            <tr
                class="fila-items"
                data-id="{{ i.id}}"
                data-nombre="{{ i.nombre}}"
                data-codigo="{{ i.codigo|default:'N/A'}}"
                data-tipo="{{ i.tipo }}"
                data-precio="{{ i.precio}}"
                >
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ i.nombre }}</td>
            <td>
                {% if i.codigo %}
                    {{ i.codigo }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ i.tipo }}</td>
            <td>{{ i.precio }}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    </div>
</div>


<div id="tabla_agentes_encabezado" style="display:none;">
    <table class="table table-hover" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for agente in agentes %}
            <tr  class="fila-agentes"
                data-id="{{ agente.id}}"
                data-nombre="{{ agente.nombre}}"
                data-apellido="{{ agente.apellido}}"
                data-telefono="{{ agente.telefono }}"
                data-empresa="{{ agente.empresa}}">

            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ agente.nombre }}</td>
            <td>{{ agente.apellido }}</td>
            <td>{{ agente.telefono }}</td>
            <td>{{ agente.empresa }}</td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>


<script src="{% static 'modalEncabezado.js' %}"></script>

<script>
    function limpiarForm(){
        window.location.reload();
    }
</script>