{% load static %}




<!--Formularios ocultos -->

<div id="form_servicio" style="display:none;">
    <form method="post" action="{% url 'crear_servicio' %}">
        {% csrf_token %}
        <input type="hidden" id="id_id" name="id">
        {{ form_servicio.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>

<div id="form_producto" style="display:none;">
    <form method="post" action="{% url 'crear_producto' %}">
        {% csrf_token %}
        <input type="hidden" id="id_id" name="id">
        {{ form_producto.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>

<div id="form_empresa" style="display:none;">
    <form method="post" action="{% url 'crear_empresa' %}" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="hidden" id="id_id" name="id">
        {{ form_empresa.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>


<div id="form_agente" style="display:none;">
    <form method="post" action="{% url 'crear_agente' %}" > 
        {% csrf_token %}
        <input type="hidden" id="id_id" name="id">
        {{ form_agente.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>

<div id="form_cliente" style="display:none;">
    <form method="post" action="{% url 'crear_cliente' %}" >
        {% csrf_token %}
        <input type="hidden" id="id_id" name="id" value="">
        {{ form_cliente.as_p }}
        <button type="submit" class="btn btn-dark">Guardar</button>
    </form>
</div>

<div id="form_buscar" style="display:none;">
    <input class="form-control" type="text" id="id_query" placeholder="Busqueda..">
</div>

<!--Tablas-->
<div id="tabla_servicio" style="display:none;" class="table-responsive">
    <table class="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ servicio.nombre }}</td>
            <td>{{ servicio.precio }}</td>
            <td>
                <a href="{% url 'eliminar_servicio' servicio.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>

                </a>
            </td>
            <td>
                <a
                type="button"
                class="btn-editar"
                data-form="servicio"
                data-id="{{ servicio.id}}"
                data-nombre="{{ servicio.nombre}}"
                data-precio="{{ servicio.precio }}"
                >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
            </td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>


<div id="tabla_producto" style="display:none;">
    <table class="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Precio</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        <tr>
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.precio }}</td>
             <td>
                <a href="{% url 'eliminar_producto' producto.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>

                </a>
            </td>
            <td>
                <a
                type="button"
                class="btn-editar"
                data-form="producto"
                data-id="{{ producto.id}}"
                data-nombre="{{ producto.nombre}}"
                data-codigo="{{ producto.codigo }}"
                data-precio="{{ producto.precio }}"
                >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                
                
            </td>
        </tr>
        {%  endfor %}
    </tbody>
</table>
</div>


<div id="tabla_empresa" style="display:none;" class="table-responsive">
    <div class="table-responsive">

    <table class="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo Empresa</th>
            <th scope="col">Dueño</th>
            <th scope="col">Dirección</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
            <tr>
            <th scope="row" >{{ forloop.counter }}</th>
            <td>
                <!---mostrar el logo de la empresa-->
                {% if empresa.logo %}
                    <img src="{{ empresa.logo.url }}" alt="{{ empresa.nombre }}" style="max-width: 50px; height: auto;">
                {% else %}
                    <span>Sin logo</span>
                {% endif %}
            </td>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.tipo }}</td>
            <td>{{ empresa.dueño }}</td>
            <td>{{ empresa.direccion }}</td>
            <td>
                <a href="{% url 'eliminar_empresa' empresa.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>

                </a>
            </td>
            <td>
                <a
                type="button"
                class="btn-editar"
                data-form="empresa"
                data-id="{{ empresa.id}}"
                data-nombre="{{ empresa.nombre}}"
                data-tipo="{{ empresa.tipo }}"
                data-dueño="{{ empresa.dueño }}"
                data-direccion="{{ empresa.direccion }}"
                data-logo="{{ empresa.logo.url }}"
                >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                
                
            </td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    </div>
</div>




<div id="tabla_agente" style="display:none;">
    <table class="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Empresa</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for agente in agentes %}
            <tr>
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ agente.nombre }}</td>
            <td>{{ agente.apellido }}</td>
            <td>{{ agente.telefono }}</td>
            <td>{{ agente.empresa }}</td>
            <td>
                <a href="{% url 'eliminar_agente' agente.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>

                </a>
            </td>
            <td>
                <a
                type="button"
                class="btn-editar"
                data-form="agente"
                data-id="{{ agente.id}}"
                data-nombre="{{ agente.nombre}}"
                data-apellido="{{ agente.apellido}}"
                data-telefono="{{ agente.telefono}}"
                data-empresa="{{ agente.empresa}}"
                
                >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                
                
            </td>

            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>


<div id="tabla_cliente" style="display:none;">
    <div class="table-responsive">
    <table class="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
            <th scope="row" >{{ forloop.counter }}</th>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correo }}</td>
            <td>
                <a href="{% url 'eliminar_cliente' cliente.id %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>

                </a>
            </td>
            <td>
                <a
                type="button"
                class="btn-editar"
                data-form="cliente"
                data-id="{{ cliente.id}}"
                data-nombre="{{ cliente.nombre}}"
                data-apellido="{{ cliente.apellido}}"
                data-direccion="{{ cliente.direccion}}"
                data-telefono="{{ cliente.telefono}}"
                data-correo="{{ cliente.correo}}"
                >

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                
                
            </td>

            </tr>
            {%  endfor %}
        </tbody>
    </table>
   </div>
</div>


<div id="tabla_cotizacion" class="table-borderless" style="display:none;">
    <div class="table-responsive">

    <table class="table table-hover" id="tabla_cotizaciones" >
        <thead>
            <tr>
        
            <th scope="col">N° de cotización</th>
            <th scope="col">Empresa</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Fecha Creacion</th>
            <th scope="col">Agente</th>
            <th scope="col">Subtotal</th>
            <th scope="col">IVA</th>
            <th scope="col">Total</th>
            <th scope="col">PDF</th>

            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div id="paginador"></div>
    </div>
</div>

    <!--modal-->
<div class="modal fade" id="miModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalTitulo">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalContenido">
       
      </div>
      <div class="modal-footer" id="modalFooter">

      </div>
    </div>
  </div>
</div>


<script src="{% static 'buscarModal.js' %}"></script>
<script src="{% static 'modal.js' %}"></script>
