{% load static %}


<div class="d-flex align-items-center justify-content-center min-vh-100 ">

    <div class="d-flex flex-column gap-5">

            <p class="text-light text-center fw-medium fs-3">COTIZADOR</p>

            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#miModal" data-form="servicio">CREAR SERVICIOS</button> 
            <button type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#miModal" data-form="producto">CREAR PRODUCTOS</button>
        
        
            <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#miModal" data-form="empresa">CREAR EMPRESAS</button>
            <button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#miModal" data-form="agente">CREAR AGENTES</button>
        
        
        
            <button type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#miModal" data-form="cliente" >CREAR CLIENTES</button>

            <button type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#miModal" data-form="cotizacion" >BUSCAR COTIZACIÓN</button>

    </div>
</div>







